@import "../../assets/scss/global-variables";

:host {
  display: block;
  padding: 0 16px;
}

header {
  padding: 5rem 1rem;
  .compose-button {
    background-color: $btn-primary-bg-color;
    color: $btn-primary-color;
  }
}

.col-xs-3 {
  border: 1px solid green;
}

.col-xs-4 {
  border: 1px solid red;
}
